@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Raleway');
* {
  margin: 0;
  padding: 0;
  font-family: 'Julius Sans One', "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  }

body {
  font-family: 'Raleway', 'Julius Sans One', "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  color: #1ce01c;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  
    monospace;
}

#img-dark{
  z-index: 100;
  opacity: .5;
}
.thumb-img{
  min-width: 100px;
  max-width: 400px;
  height: 400px;
  overflow: hidden;
  position: relative;
}
.img-square {

  position: absolute;
  margin: auto; 
  min-height: 100%;
  min-width: 100%;

  /* For the following settings we set 100%, but it can be higher if needed 
  See the answer's update */
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
}  
.nav-link{
  cursor: pointer;
}
.navbar-brand{
  cursor: pointer;
}
.minh-50{
  min-height: 50vh;
}

.centered-img-text {
  position: absolute;
  max-height: 50vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bg-dark-transparent{
  background: rgba(0, 0, 0, .8); 
  
  
  min-height: 50vh;
  z-index: 102;
}
.carousel-control-prev{
  z-index: 103 !important;
}
.carousel-control-next{
  z-index: 103 !important;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.carousel-caption{
  top: 50%;
  transform: translateY(-50%);
  bottom: initial !important;
  z-index: 103 !important;
}
